force-app/main/default/flows/Opportunity_Term_Payments_Calc_Fees.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Calc_Fees_Opp_Id_From_FA</name>
        <label>Assign Calc Fees Opp Id from FA row</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCanonicalCalcFeesOppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Term_Payment_With_FA_URL.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Term_Payment_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Calc_Fees_Opp_Id_From_Newest</name>
        <label>Assign Calc Fees Opp Id from newest</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCanonicalCalcFeesOppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Term_Payment_Newest_Any.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Term_Payment_Opp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>FormAssembly creates the Term Payment Opp; only update Amount when a row exists for this TE.</description>
        <name>Has_Term_Payment_Opp</name>
        <label>Has Term Payment Opp?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No existing Opp</defaultConnectorLabel>
        <rules>
            <name>Yes_has_opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCanonicalCalcFeesOppId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Term_Payment</targetReference>
            </connector>
            <label>Yes, update Amount</label>
        </rules>
    </decisions>
    <decisions>
        <description>Prefer updating Amount on the FormAssembly Opp (FA_Response_URL__c populated) when it exists.</description>
        <name>Prefer_FA_Term_Payment_For_Calc_Fees</name>
        <label>Prefer FA Term Payment for Calc Fees?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Term_Payment_Newest_Any</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No FA row</defaultConnectorLabel>
        <rules>
            <name>Yes_use_FA_row</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Term_Payment_With_FA_URL.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Calc_Fees_Opp_Id_From_FA</targetReference>
            </connector>
            <label>Yes, use FA row</label>
        </rules>
    </decisions>
    <description>04/23/2026 &lt;MJD&gt; v4: Prefer FA-linked Term Payment Opp for Amount; else newest for TE. Aligns with Term_Enrollment_Create v42. Create path remains removed.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity Term Payments - Calc Fees {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Term Payments - Calc Fees</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Newest Opportunity for TE when no FA-linked row (Amount still syncs).</description>
        <name>Get_Term_Payment_Newest_Any</name>
        <label>Get Term Payment Newest Any</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Calc_Fees_Opp_Id_From_Newest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Term_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>FormAssembly row for this TE when FA_Response_URL__c is set (preferred for fee Amount).</description>
        <name>Get_Term_Payment_With_FA_URL</name>
        <label>Get Term Payment With FA URL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prefer_FA_Term_Payment_For_Calc_Fees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Term_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FA_Response_URL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Term_Payment</name>
        <label>Update Term Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCanonicalCalcFeesOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Total_Fees__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Term_Payment_With_FA_URL</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Program_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online Certificate in Implementation Science</stringValue>
            </value>
        </filters>
        <filters>
            <field>Total_Fees__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Term_Enrollment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Opp Id receiving Total_Fees__c Amount (FA row when present).</description>
        <name>varCanonicalCalcFeesOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
