force-app/main/default/flows/Opportunity_Term_Payments_Calc_Fees.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <description>FormAssembly creates the Term Payment Opp; only update Amount when a row exists for this TE.</description>
        <name>Has_Term_Payment_Opp</name>
        <label>Has Term Payment Opp?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No existing Opp</defaultConnectorLabel>
        <rules>
            <name>Yes_has_opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Term_Payment_associated_w_Term_Enrollment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Term_Payment</targetReference>
            </connector>
            <label>Yes, update Amount</label>
        </rules>
    </decisions>
    <description>04/23/2026 &lt;MJD&gt; v2: Removed Create_Term_Payment_Opp—FormAssembly creates the Term Payment Opp; this flow only updates Amount on an existing Opp linked to this TE. Entry unchanged: Implementation Science program name OR Total_Fees__c changed. Prevents duplicate automation Opps without FA_Response_URL__c.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity Term Payments - Calc Fees {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Term Payments - Calc Fees</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Term_Payment_associated_w_Term_Enrollment</name>
        <label>Get Term Payment associated w/Term Enrollment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Term_Payment_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Term_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FA_Response_URL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Term_Payment</name>
        <label>Update Term Payment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Term_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FA_Response_URL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Total_Fees__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Term_Payment_associated_w_Term_Enrollment</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Program_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online Certificate in Implementation Science</stringValue>
            </value>
        </filters>
        <filters>
            <field>Total_Fees__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Term_Enrollment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
