force-app/main/default/flows/Program_Enrollment_Apply_Late_Fee_Record_Triggered_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>Check_Suppress_Automated_Late_Fee</name>
        <label>Check Suppress Automated Late Fee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Term_Enrollment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Suppressed - Continue</defaultConnectorLabel>
        <rules>
            <name>Suppressed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Suppress_Automated_Late_Fee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Program_Enrollment_Clear_Late_Fee</targetReference>
            </connector>
            <label>Suppressed</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_found_update_PE_w_Late_Fee</name>
        <label>If found, update PE w/Late Fee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Found - Skip</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Term_Enrollment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Program_Enrollment_w_Late_Fee</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>Runs when a Program Enrollment is created or when Suppress Automated Late Fee changes. Entry formula avoids re-running when only Enrollment Late Fee is updated by this flow. If Suppress is true, sets Enrollment Late Fee to $0 and skips TE/deadline logic; otherwise evaluates Term Enrollments for the designated term and applies the standard late fee when the enrollment deadline has passed.</description>
    <environments>Default</environments>
    <interviewLabel>Program Enrollment - Apply Late Fee - Record Triggered Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Program Enrollment - Apply Late Fee - Record Triggered Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Term_Enrollment</name>
        <label>Get Term Enrollment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_found_update_PE_w_Late_Fee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Enrollment_Term__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Enrollment_Deadline_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Term_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Program_Enrollment_Clear_Late_Fee</name>
        <label>Update Program Enrollment - Clear Late Fee (Suppressed)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Enrollment_Late_Fee__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Program_Enrollment_w_Late_Fee</name>
        <label>Update Program Enrollment w/Late Fee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Enrollment_Late_Fee__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Suppress_Automated_Late_Fee</targetReference>
        </connector>
        <filterFormula>OR(ISNEW(), ISCHANGED({!$Record.Suppress_Automated_Late_Fee__c}))</filterFormula>
        <object>hed__Program_Enrollment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
