force-app/main/default/flows/Program_Enrollment_Notification_to_Enrollee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <actionCalls>
        <name>Copy_FA_Responses_To_PE</name>
        <label>Copy FA Responses To PE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ProgramEnrollmentCopyResponsesInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Needs_Invoice_Attached</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>programEnrollmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Needs_Invoice_Attached</name>
        <label>Needs Invoice Attached?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, skip</defaultConnectorLabel>
        <rules>
            <name>Yes_needs_invoice_attached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Invoice_created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ContentDocumentLink</targetReference>
            </connector>
            <label>Yes, needs invoice attached</label>
        </rules>
    </decisions>
    <description>03.25.2026 - v50 - Async path: Apex Copy FA responses PDF to PE before invoice branch (ProgramEnrollmentCopyResponsesInvocable).
11.11.2025 (MJD) - v49 - Removed duplicate Apex Action - allowing Apex code to handle creation of Invoice.
10.28.2025 (MJD) - v47 - Updated Action to call &quot;Generate and Attach Program&quot; so that we send PDF&apos;s of Responses from FA &amp; Invoice.
09.23.2025 (MJD) - v46 - Added logic for FormAssembly URL as filter criteria in firing the flow.
09.23.2025 (MJD) - v45 - Removed &apos;Email&apos; node to test if it is redundant.</description>
    <environments>Default</environments>
    <formulas>
        <name>varEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Course Enrollment Invoice - &quot; + {!$Record.Name} + &quot; for &quot; + ($Record.hed__Contact__r.FirstName + &quot; &quot; + $Record.hed__Contact__r.LastName)</expression>
    </formulas>
    <interviewLabel>Program Enrollment - Notification to Enrollee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Program Enrollment - Notification to Enrollee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ContentDocumentLink</name>
        <label>Get ContentDocumentLink</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ContentVersion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sfProgramEnrollmentId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ContentVersion</name>
        <label>Get ContentVersion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Program_Enrollment_w_Attachment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ContentDocumentLink.ContentDocumentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsLatest</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Program_Enrollment_audit_field</name>
        <label>Update Program Enrollment &apos;audit&apos; field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Last_Invoice_ContentVersion_Id__c</field>
            <value>
                <elementReference>Get_ContentVersion.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Program_Enrollment_w_Attachment</name>
        <label>Update Program Enrollment w/Attachment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Program_Enrollment_audit_field</targetReference>
        </connector>
        <inputAssignments>
            <field>Invoice_created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Invoice_ContentVersion_Id__c</field>
            <value>
                <elementReference>Get_ContentVersion.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>hed__Enrollment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Invoice_created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Invoice_emailed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FormAssembly_URL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Copy_FA_Responses_To_PE</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>varBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.hed__Contact__r.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for enrolling in {!$Record.hed__Account__r.Name}.&lt;/p&gt;&lt;p&gt;Below is a summary of the courses on your invoice:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Course Term | Course Fee  | &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Course Title&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!varRows}&lt;/p&gt;&lt;p&gt;=========================================================&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total Fees:  ${!varTotalFee}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;If you have any questions, just reply to this message.&lt;/p&gt;&lt;p&gt;&amp;nbsp;Regards,&lt;/p&gt;&lt;p&gt;&amp;nbsp;The Registrar&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varContactEmailList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>mjdavis@attainpartners.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>varEmailMessageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRows</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTotalFee</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
