force-app/main/default/flows/Term_Enrollment_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>FormAssembly row wins for enrichment and dedupe when FA_Response_URL__c is populated.</description>
        <name>Assign_Canonical_Payment_Opp_Id_From_FA</name>
        <label>Assign canonical Opp Id from FA-linked row</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varCanonicalPaymentOppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPaymentOpportunitiesWithFA.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Canonical_Term_Payment_Opp_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>When no FA URL on any Term Payment Opp, use newest Payment Due row (automation-only scenario).</description>
        <name>Assign_Canonical_Payment_Opp_Id_From_Newest</name>
        <label>Assign canonical Opp Id from newest row</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varCanonicalPaymentOppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPaymentOpp_NewestAny.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Canonical_Term_Payment_Opp_Exists</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Payment_Opportunity_Exist</name>
        <label>Does Payment Opportunity Exist?</label>
        <locationX>248</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Name_sync_after_payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No form payment Opp yet</defaultConnectorLabel>
        <rules>
            <name>yes_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCanonicalPaymentOppId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payment_Opportunity</targetReference>
            </connector>
            <label>yes payment exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>When a canonical Payment Due Term Payment Opp exists, delete older/sibling duplicates for this TE before Update_Payment_Opportunity runs.</description>
        <name>Canonical_Term_Payment_Opp_Exists</name>
        <label>Canonical Term Payment Opp exists?</label>
        <locationX>248</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Does_Payment_Opportunity_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No canonical Opp</defaultConnectorLabel>
        <rules>
            <name>Yes_canonical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCanonicalPaymentOppId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Duplicate_Term_Payment_Opps</targetReference>
            </connector>
            <label>Yes, dedupe then continue</label>
        </rules>
    </decisions>
    <decisions>
        <description>If FormAssembly populated FA_Response_URL__c, that Opp is canonical; otherwise use newest Payment Due Term Payment Opp.</description>
        <name>Prefer_FormAssembly_Term_Payment_Opp</name>
        <label>Prefer FormAssembly Term Payment Opp?</label>
        <locationX>248</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>getPaymentOpp_NewestAny</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No FA-linked Opp</defaultConnectorLabel>
        <rules>
            <name>Yes_FA_linked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPaymentOpportunitiesWithFA.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Canonical_Payment_Opp_Id_From_FA</targetReference>
            </connector>
            <label>Yes, use FA-linked Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fee_type</name>
        <label>Fee type</label>
        <locationX>545</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Name_sync_after_payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Matriculated or Other</defaultConnectorLabel>
        <rules>
            <name>MOU_or_Ad_Hoc</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Program_Enrollment__r.Fee_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UC Ad Hoc</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Program_Enrollment__r.Fee_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-UC Ad Hoc</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Program_Enrollment__r.Fee_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Program_Enrollment_for_Payment</targetReference>
            </connector>
            <label>MOU or Ad Hoc</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Payment_Opportunity_Found</name>
        <label>Is Payment Opportunity Found?</label>
        <locationX>1238</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Name_sync_after_payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, not found</defaultConnectorLabel>
        <rules>
            <name>Yes_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Match</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Name_sync_after_payment</targetReference>
            </connector>
            <label>Yes, found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Runs after payment logic (or non-payment branches). Updating TE Name here avoids a nested after-save interview before payment Opp lookups can see form-created rows.</description>
        <name>Name_sync_after_payment</name>
        <label>Name sync after payment path</label>
        <locationX>1089</locationX>
        <locationY>1200</locationY>
        <defaultConnectorLabel>Already matches formula</defaultConnectorLabel>
        <rules>
            <name>Sync_TE_Name_after_payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_Name_needs_sync</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Term_Enrollment_Name</targetReference>
            </connector>
            <label>Blank or differs from formula</label>
        </rules>
    </decisions>
    <decisions>
        <name>Term_Enrollment_Status</name>
        <label>Term Enrollment Status</label>
        <locationX>1089</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Name_sync_after_payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enrolled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrolled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fee_type</targetReference>
            </connector>
            <label>Enrolled</label>
        </rules>
        <rules>
            <name>Not_Enrolled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not enrolled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Match</targetReference>
            </connector>
            <label>Not Enrolled</label>
        </rules>
    </decisions>
    <description>04/23/2026 &lt;MJD&gt; v42: Canonical = FA-linked Term Payment Opp (FA_Response_URL__c not null) when present, else newest Payment Due + Term_Payment RT; deletes other matching Opps; updates canonical. Prevents automation-created newest row from winning over FormAssembly row.
04/23/2026 &lt;MJD&gt; v41: Newest-only canonical; superseded by v42 when FA row must win over automation Opp.
04/23/2026 &lt;MJD&gt; v40: FA-only matching; superseded by v41/v42.
04/23/2026 &lt;MJD&gt; v39: No new Opp inserts from this flow; FormAssembly owns create.
04/23/2026 &lt;MJD&gt; v38: Get_Program_Enrollment_for_Payment + f_Payment_AccountId for update path.
04/23/2026 &lt;MJD&gt; v37: Name_sync_after_payment after payment path.
04/23/2026 &lt;MJD&gt; v35: getPaymentOpportunities keys off Term_Enrollment__c + Term Payment RT + Payment Due.
06/12/2025 &lt;MJD&gt; v34: Removed logic that deletes &apos;Payment Opp&apos; for this version. If needed, revert to v33.
05/08/2025 &lt;MJD&gt; Added logic to check for an Opportunity when the &apos;Term Enrollment&apos; = Not enrolled.

1. FormAssembly creates the Term Payment Opp with FA_Response_URL__c populated; link Term_Enrollment__c, Term_Payment RT, and Payment Due.
2. This flow updates the FA-linked Opp only (Amount, Account, Name, CloseDate, Funding_Source, Term_Enrollment__c).</description>
    <environments>Default</environments>
    <formulas>
        <description>&quot;Term Enrollment&quot; + FirstName + LastName + Term + Program, cut to 80 char.</description>
        <name>TermEnrollmentName</name>
        <dataType>String</dataType>
        <expression>LEFT(
(&quot;TE-&quot; 
+ {!$Record.Program_Enrollment__r.Contact_Name__c} 
+ &quot; &quot; 
+ {!$Record.Term__r.Name} 
+  &quot; &quot; 
+  IF(
        ISBLANK({!$Record.Program_Enrollment__r.hed__Account__r.Name}), 
        &quot;&quot;, 
        {!$Record.Program_Enrollment__r.hed__Account__r.Name}
))
, 80)</expression>
    </formulas>
    <formulas>
        <description>&quot;Payment&quot; + FirstName + LastName + Term + Program, cut to 80 char.</description>
        <name>TermPaymentOpportunityName</name>
        <dataType>String</dataType>
        <expression>LEFT(
    (&quot;Payment &quot; 
    + {!$Record.Program_Enrollment__r.hed__Contact__r.FirstName} 
    + &quot; &quot; 
    + {!$Record.Program_Enrollment__r.hed__Contact__r.LastName} 
    + &quot; &quot; 
    + {!$Record.Term__r.Name} 
    + &quot; &quot; 
    + IF(
        ISBLANK({!$Record.Program_Enrollment__r.hed__Account__r.Name}), 
        &quot;&quot;, 
        {!$Record.Program_Enrollment__r.hed__Account__r.Name}
    ))
, 80)</expression>
    </formulas>
    <formulas>
        <description>True when TE Name is blank or not equal to the computed standard name. Used only after payment path (v37) so TE name DML does not start a nested interview before payment Opp exists.</description>
        <name>f_Name_needs_sync</name>
        <dataType>Boolean</dataType>
        <expression>OR(ISBLANK({!$Record.Name}), {!$Record.Name} != {!TermEnrollmentName})</expression>
    </formulas>
    <formulas>
        <description>Funding Program/Department Account when PE has that lookup; otherwise the learner Contact&apos;s Account. Used for payment Opp create/update so Account matches business rules even when $Record.Program_Enrollment__r is stale vs DB.</description>
        <name>f_Payment_AccountId</name>
        <dataType>String</dataType>
        <expression>IF(
  NOT(ISBLANK({!Get_Program_Enrollment_for_Payment.Funding_Program_or_Department__c})),
  {!Get_Program_Enrollment_for_Payment.Funding_Program_or_Department__c},
  {!Get_Program_Enrollment_for_Payment.hed__Contact__r.AccountId}
)</expression>
    </formulas>
    <interviewLabel>Term Enrollment Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Term Enrollment Create or Update - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Re-query Program Enrollment so Funding_Program_or_Department__c and related Account Ids match the database (avoids split sponsored vs self outcomes when $Record.Program_Enrollment__r is stale vs parallel interviews).</description>
        <name>Get_Program_Enrollment_for_Payment</name>
        <label>Get Program Enrollment for Payment</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOpportunityRecordTypeIDforTermPayment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program_Enrollment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Program_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Match</name>
        <label>Get Opportunity Match</label>
        <locationX>1238</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Payment_Opportunity_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Term_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets Record Type ID for Term Payment so that this Flow will function across sandboxes where the Record Type ID may change</description>
        <name>GetOpportunityRecordTypeIDforTermPayment</name>
        <label>Get RecordTypeID for TermPayment Opportunity</label>
        <locationX>248</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPaymentOpportunitiesWithFA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Term_Payment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>FormAssembly Term Payment Opp: FA_Response_URL__c not null, newest first. Preferred canonical for amount/name/account updates.</description>
        <name>getPaymentOpportunitiesWithFA</name>
        <label>getPaymentOpportunitiesWithFA</label>
        <locationX>248</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prefer_FormAssembly_Term_Payment_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Term_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunityRecordTypeIDforTermPayment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment Due</stringValue>
            </value>
        </filters>
        <filters>
            <field>FA_Response_URL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Newest Payment Due Term Payment Opp when no FA-linked row exists (fallback for missing FA mapping).</description>
        <name>getPaymentOpp_NewestAny</name>
        <label>getPaymentOpp Newest Any</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Canonical_Payment_Opp_Id_From_Newest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Term_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunityRecordTypeIDforTermPayment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment Due</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Extra Payment Due Term Payment Opps for this TE (same RT) other than the canonical newest—removed so only one unpaid Opp remains.</description>
        <name>Get_Duplicate_Term_Payment_Opps</name>
        <label>Get Duplicate Term Payment Opps</label>
        <locationX>248</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Delete_Duplicate_Term_Payment_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Term_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunityRecordTypeIDforTermPayment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment Due</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varCanonicalPaymentOppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <loops>
        <description>Delete each extra Term Payment Opp so only the canonical row (FA when present, else newest) remains.</description>
        <name>Loop_Delete_Duplicate_Term_Payment_Opps</name>
        <label>Loop Delete Duplicate Term Payment Opps</label>
        <locationX>248</locationX>
        <locationY>1019</locationY>
        <collectionReference>Get_Duplicate_Term_Payment_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Delete_Duplicate_Term_Payment_Opp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Does_Payment_Opportunity_Exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <recordDeletes>
        <name>Delete_Duplicate_Term_Payment_Opp</name>
        <label>Delete Duplicate Term Payment Opp</label>
        <locationX>336</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Loop_Delete_Duplicate_Term_Payment_Opps</targetReference>
        </connector>
        <inputReference>Loop_Delete_Duplicate_Term_Payment_Opps</inputReference>
    </recordDeletes>
    <recordUpdates>
        <name>Update_Payment_Opportunity</name>
        <label>Update Payment Opportunity</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCanonicalPaymentOppId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Amount_Override__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment Due</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Term_Enrollment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>f_Payment_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TermPaymentOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Term_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Source__c</field>
            <value>
                <elementReference>Get_Program_Enrollment_for_Payment.Funding_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Remaining_Balance__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <connector>
            <targetReference>Name_sync_after_payment</targetReference>
        </connector>
    </recordUpdates>
    <recordUpdates>
        <description>Uses Term Enrollment Name formula (&quot;Term Enrollment&quot; + FirstName + LastName + Term + Program) cut to 80 char.</description>
        <name>Update_Term_Enrollment_Name</name>
        <label>Update Term Enrollment Name</label>
        <locationX>1089</locationX>
        <locationY>323</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TermEnrollmentName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>963</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Term_Enrollment_Status</targetReference>
        </connector>
        <object>Term_Enrollment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Id of the Term Payment Opp to enrich and keep after dedupe (FA-linked row when present).</description>
        <name>varCanonicalPaymentOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
