flow-snapshots/Program_Enrollment_Notification_to_Enrollee_v18.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<!-- Frozen snapshot: ucsf-prod active definition as retrieved (v18 in flow description). Not deployed from this folder — for diff/revert reference only. In-org rollback: Setup → Flows → Version History → activate v18. -->
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_FA_Responses_To_PE</name>
        <label>Copy FA Responses To PE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ProgramEnrollmentCopyResponsesInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Needs_Invoice_Attached</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>programEnrollmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ProgramEnrollmentCopyResponsesInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_email_notification_to_student_and_attached_PDF_s</name>
        <label>Send email notification to student and attached PDF&apos;s</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PEInvoiceActionOne</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_ContentDocumentLinks</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ProgramEnrollmentId</name>
            <value>
                <elementReference>$Record.sfProgramEnrollmentId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PEInvoiceActionOne</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_student</name>
        <label>Send email to student</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bccAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>implementationscience@ucsf.edu</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XPj000007cQv7MAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>attachmentIdCollection</name>
            <value>
                <elementReference>varVersionIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.hed__Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_values_to_single_variable</name>
        <label>Assign values to single variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAttachmentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_ContentVersion_Records.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_ContentVersion_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_varVersionIds</name>
        <label>Assign varVersionIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varVersionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_ContentVersions.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_ContentVersions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Needs_Invoice_Attached</name>
        <label>Needs Invoice Attached?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_email_notification_to_student_and_attached_PDF_s</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, skip</defaultConnectorLabel>
        <rules>
            <name>Yes_needs_invoice_attached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Invoice_created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ContentDocumentLink</targetReference>
            </connector>
            <label>Yes, needs invoice attached</label>
        </rules>
    </decisions>
    <description>FROZEN GIT SNAPSHOT — prod v18 (see FLOW_DEPLOY_SCOPE.md). Editable deploy copy is force-app/... v19.
03.26.2026 - v18 (PROD) - Added filter to only trigger when the program is for &apos;Implementation Science&apos;
03.25.2026 - v50 - Async path: Apex Copy FA responses PDF to PE before invoice branch (ProgramEnrollmentCopyResponsesInvocable).
11.11.2025 (MJD) - v49 - Removed duplicate Apex Action - allowing Apex code to handle creation of Invoice.
10.28.2025 (MJD) - v47 - Updated Action to call &quot;Generate and Attach Program&quot; so that we send PDF&apos;s of Responses from FA &amp; Invoice.
09.23.2025 (MJD) - v46 - Added logic for FormAssembly URL as filter criteria in firing the flow.
09.23.2025 (MJD) - v45 - Removed &apos;Email&apos; node to test if it is redundant.</description>
    <environments>Default</environments>
    <formulas>
        <name>varEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Course Enrollment Invoice - &quot; + {!$Record.Name} + &quot; for &quot; + ($Record.hed__Contact__r.FirstName + &quot; &quot; + $Record.hed__Contact__r.LastName)</expression>
    </formulas>
    <interviewLabel>Program Enrollment - Notification to Enrollee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Program Enrollment - Notification to Enrollee</label>
    <loops>
        <name>Loop_through_ContentVersion_Records</name>
        <label>Loop through ContentVersion Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_ContentDocumentLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_single_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>varContentVersionRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_ContentVersions</name>
        <label>Loop through ContentVersions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varContentVersionRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_varVersionIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_email_to_student</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ContentDocumentLink</name>
        <label>Get ContentDocumentLink</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ContentVersion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sfProgramEnrollmentId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ContentDocumentLinks</name>
        <label>Get ContentDocumentLinks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_ContentVersion_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ContentVersion</name>
        <label>Get ContentVersion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Program_Enrollment_w_Attachment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ContentDocumentLink.ContentDocumentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsLatest</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>varContentVersionRecords</name>
        <label>varContentVersionRecords</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_ContentVersions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>In</operator>
            <value>
                <elementReference>varAttachmentIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsLatest</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Program_Enrollment_audit_field</name>
        <label>Update Program Enrollment &apos;audit&apos; field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_email_notification_to_student_and_attached_PDF_s</targetReference>
        </connector>
        <inputAssignments>
            <field>Last_Invoice_ContentVersion_Id__c</field>
            <value>
                <elementReference>Get_ContentVersion.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Program_Enrollment_w_Attachment</name>
        <label>Update Program Enrollment w/Attachment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Program_Enrollment_audit_field</targetReference>
        </connector>
        <inputAssignments>
            <field>Invoice_created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Invoice_ContentVersion_Id__c</field>
            <value>
                <elementReference>Get_ContentVersion.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice_emailed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>hed__Account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>001Dn00000dxeGCIAY</stringValue>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Copy_FA_Responses_To_PE</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>varBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.hed__Contact__r.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for enrolling in {!$Record.hed__Account__r.Name}.&lt;/p&gt;&lt;p&gt;Below is a summary of the courses on your invoice:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Course Term | Course Fee  | &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Course Title&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!varRows}&lt;/p&gt;&lt;p&gt;=========================================================&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total Fees:  ${!varTotalFee}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;If you have any questions, just reply to this message.&lt;/p&gt;&lt;p&gt;&amp;nbsp;Regards,&lt;/p&gt;&lt;p&gt;&amp;nbsp;The Registrar&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varAttachmentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactEmailList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>mjdavis@attainpartners.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>varContentVersionCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmailMessageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRows</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTotalFee</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varVersionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
