flow-snapshots/Program_Enrollment_Notification_to_Enrollee_PRE_DEPLOY_ucsf_prod_2026-04-09.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_FA_Responses_To_PE</name>
        <label>Copy FA Responses To PE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ProgramEnrollmentCopyResponsesInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Needs_Invoice_Attached</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>programEnrollmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ProgramEnrollmentCopyResponsesInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_email_notification_to_student_and_attached_PDF_s</name>
        <label>Send email notification to student and attached PDF&apos;s</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PEInvoiceActionOne</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ProgramEnrollmentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PEInvoiceActionOne</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Found_PE_File_Link</name>
        <label>Found registration file link on PE?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Invoice_Created_No_CDL_On_PE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No link on PE</defaultConnectorLabel>
        <rules>
            <name>Yes_has_ContentDocument</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ContentDocumentLink.ContentDocumentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ContentVersion</targetReference>
            </connector>
            <label>Yes, has ContentDocument on PE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_Invoice_Attached</name>
        <label>Needs Invoice Attached?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_email_notification_to_student_and_attached_PDF_s</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, skip</defaultConnectorLabel>
        <rules>
            <name>Yes_needs_invoice_attached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Invoice_created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ContentDocumentLink</targetReference>
            </connector>
            <label>Yes, needs invoice attached</label>
        </rules>
    </decisions>
    <description>04.07.2026 - v21 - Entry: exclude PE when hed__Enrollment_Status__c is &quot;Currently Enrolled&quot; so &quot;Payment Processing: Marking Students as Paid&quot; (Opportunity Full Payment Received) does not re-fire this flow and resend registration/invoice PDF email via PEInvoiceActionOne.
03.27.2026 - v20 - Invoice branch: lookup ContentDocumentLink by $Record.Id (after Copy FA); allow no rows + branch to PEInvoiceActionOne so flow does not fault when sfProgramEnrollmentId__c is blank or files are only on PE. v19 NPE fix is in Apex (programOfficeOweaLookupDone = false).
03.24.2026 - v19 - Student confirmation: removed Flow emailSimple (same-txn send deduped Apex and often attached only one PDF). PEInvoiceActionOne uses $Record.Id; PEInvoiceActionOne + queueable send both PDFs via ProgramEnrollmentStudentEmail. Deploying this file creates a new Salesforce flow version; prior versions (e.g. v18) remain in Setup → Flows → Version History. Frozen v18 XML for diff/rollback reference: flow-snapshots/Program_Enrollment_Notification_to_Enrollee_v18.flow-meta.xml.
03.26.2026 - v18 (PROD) - Added filter to only trigger when the program is for &apos;Implementation Science&apos;
03.25.2026 - v50 - Async path: Apex Copy FA responses PDF to PE before invoice branch (ProgramEnrollmentCopyResponsesInvocable).
11.11.2025 (MJD) - v49 - Removed duplicate Apex Action - allowing Apex code to handle creation of Invoice.
10.28.2025 (MJD) - v47 - Updated Action to call &quot;Generate and Attach Program&quot; so that we send PDF&apos;s of Responses from FA &amp; Invoice.
09.23.2025 (MJD) - v46 - Added logic for FormAssembly URL as filter criteria in firing the flow.
09.23.2025 (MJD) - v45 - Removed &apos;Email&apos; node to test if it is redundant.</description>
    <environments>Default</environments>
    <interviewLabel>Program Enrollment - Notification to Enrollee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Program Enrollment - Notification to Enrollee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ContentDocumentLink</name>
        <label>Get ContentDocumentLink</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_PE_File_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ContentVersion</name>
        <label>Get ContentVersion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Program_Enrollment_w_Attachment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ContentDocumentLink.ContentDocumentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsLatest</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Invoice_Created_No_CDL_On_PE</name>
        <label>Set Invoice Created (no CDL on PE)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_email_notification_to_student_and_attached_PDF_s</targetReference>
        </connector>
        <inputAssignments>
            <field>Invoice_created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Program_Enrollment_audit_field</name>
        <label>Update Program Enrollment &apos;audit&apos; field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_email_notification_to_student_and_attached_PDF_s</targetReference>
        </connector>
        <inputAssignments>
            <field>Last_Invoice_ContentVersion_Id__c</field>
            <value>
                <elementReference>Get_ContentVersion.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Program_Enrollment_w_Attachment</name>
        <label>Update Program Enrollment w/Attachment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Program_Enrollment_audit_field</targetReference>
        </connector>
        <inputAssignments>
            <field>Invoice_created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Invoice_ContentVersion_Id__c</field>
            <value>
                <elementReference>Get_ContentVersion.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice_emailed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>hed__Account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>001Dn00000dxeGCIAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>hed__Enrollment_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Currently Enrolled</stringValue>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Copy_FA_Responses_To_PE</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
